@page "/help"

<PageTitle>Help</PageTitle>

<h1>Help</h1>

<h1>Contacto</h1>

<p>Telefono</p>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
