@using Entities
@using Bussiness

<EditForm Model="oCategory">
    <div class="form-group">
        <label>Referencia</label>
        <InputText class="form-control" @bind-Value="oCategory.CategoryId"></InputText>
    </div>
    <div class="form-group">
        <label>Nombre categoria</label>
        <InputTextArea class="form-control" @bind-Value="oCategory.CategoryName"></InputTextArea>
    </div>
    <br />
    <input type="button" value="Actualizar categoria" @onclick="UpdateCategory" />

</EditForm>



@inject B_Category _Category
@inject NavigationManager _NavManager

@code {

    [Parameter]
    public string IdCategory { get; set; }

    CategoryEntity oCategory = new CategoryEntity();

    protected override async Task OnInitializedAsync()
    {
        oCategory = _Category.GetCategoryForId(IdCategory);
    }
    private void UpdateCategory()
    {
        _Category.UpdateCategory(oCategory);
        _NavManager.NavigateTo("category/list");
    }

}